<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0-pre02" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170407" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="8.2.170407" targetFramework="net462" developmentDependency="true" />
</packages>